<div class="container">
    <div class="row">
        <div class="col-md-6">
            <figure id="myMap"></figure>
        </div>
        <div class="col-md-6">
            <h2>Detalles</h2>
            <p>{{event.name}}</p>
            <p>{{littledate}}</p>
            <p>{{event.description}}</p>
            <input type="hidden" id="identific" value="{{event.id}}">

            <div>
                <a href="/eventos/{{event._id}}/apuntate" class="btn btn-dark">Apuntate al evento</a>
            </div>

            {{#if isAdminOrCreator}}
            <a href="/eventos/{{event._id}}/editar" class="btn btn-dark">Editar Evento</a>
            {{/if}}
            {{#if isAdmin}}
            <form action="/eventos/{{event._id}}/borrar" method="post">
                <button type="submit" class="btn btn-dark">Borrar Evento</button>
            </form>
            {{/if}}
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/place-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXrluxt6edH6GHzswvJd_nckU_vPeBjzc&callback=init"></script>