<h1>Detalles</h1>
<p>{{name}}</p>
<p>{{date}}</p>
<p>{{description}}</p>
<p>{{creator}}</p>

<a href="/eventos/{{id}}/editar" class="btn btn-dark">Editar Evento</a>
<form action="/eventos/{{id}}/borrar" method="post">
    <button type="submit" class="btn btn-dark">Borrar Evento</button>
</form>