<div class="loginPage">
    <div class="container text-center fondoblanco">
        <div class="row d-flex justify-content-center">
            <h1>Editar evento</h1>
            <div class="col-md-6">
                <form action="/eventos/{{_id}}/editar" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{event.name}}">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Lugar</label>
                        <input type="text" class="form-control" id="location">
                        <input type="hidden" id="latitude" name="latitude">
                        <input type="hidden" id="longitude" name="longitude">
                    </div>
                    <div class=" mb-3">
                        <label for="date" class="form-label">Fecha del evento</label>
                        <input type="date" class="form-control" id="date" name="date" value="{{formattedDate}}">
                    </div>
                    <div class=" mb-3">
                        <label for="url" class="form-label">Imagen</label>
                        <input type="text" class="form-control" id="url" name="imageUrl" value="{{event.imageUrl}}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descripción</label>
                        <textarea class="form-control" id="description"
                            name="description">{{event.description}}</textarea>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-dark">Editar Evento</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/place-autocomplete.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB8pH6zIEOvvWQHRCqRVHiaspZ_KM6yDI8&callback=initialize"></script>