<div class="row">
    <div class="col-md-6">
        <img src="{{thumbnail.path}}.{{thumbnail.extension}}" alt="img">
    </div>
    <div class="col-md-6">
        <p>Titulo: {{title}}</p>
        <p>Publicación: {{startYear}}-{{endYear}}</p>
        {{#if description}}
        <p>Descripcion: {{description}}</p>
        {{/if}}
        {{#if characters.available}}
        <p>Nº de personajes: {{characters.available}}</p>
        {{/if}}
    </div>
</div>