<div class="listBg text-center">
    <div class="container pt-5">
        <h2 style="background-color: black; color: white;">Lista de personajes</h2>

        {{#each characters}}
        <div class="col-md-4 d-flex justify-content-center text-center">

            <div class="card mt-5 char-card" style="width: 18rem;">

                <img src="{{thumbnail.path}}.{{thumbnail.extension}}" class="card-img-top" alt="foto">

                <div class="card-body">

                    <h5 class="card-title">{{name}}</h5>
                    {{#if isFav}}
                    <form action="/personajes" method="POST">
                        <button type="submit" value="{{name}}" class="btn btn-dark" name="charName">Quitar de
                            favoritos</button>
                    </form>
                    {{/if}}
                    {{#unless isFav}}
                    <form action="/personajes" method="POST">
                        <button type="submit" value="{{name}}" class="btn btn-dark" name="charName">Añadir a
                            favoritos</button>
                    </form>
                    {{/unless}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>